@import './../../../../styles';

.nav-link{
    color: $secondary-color;
    cursor: pointer;
}
.nav-link.active {
    font-weight: bold;
}

.view-more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.btn-special {
    background-color: $primary-color;
    color: $secondary-color;
  }
  