<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" [class.active]="selectedCategory === 'Best Seller'"
            (click)="filterProducts('Best Seller')">Best Seller</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [class.active]="selectedCategory === 'New Arrivals'"
            (click)="filterProducts('New Arrivals')">New Arrivals</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [class.active]="selectedCategory === 'Hot Sales'" (click)="filterProducts('Hot Sales')">Hot
            Sales</a>
    </li>
</ul>

<app-sales-products [filteredProducts]="filteredProducts"></app-sales-products>
