<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" [class.active]="selectedCategory === 'bestSeller'"
            (click)="getBestSeller()">Best Seller</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [class.active]="selectedCategory === 'newArrivals'"
            (click)="getNewArrival()">New Arrivals</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [class.active]="selectedCategory === 'mostViewed'" (click)="getMostViewed()">
            Most Viewed
        </a>
    </li>
</ul>

<app-sales-products [filteredProducts]="products"></app-sales-products>

<div class="view-more-btn" (click)="viewMore()">
    <button class="btn btn-special">View More</button>
</div>
