<div class="custom-background w-100" style="padding: 3%; padding-left: 0%;">
    <div class="row">
        <div class="col-lg-4 d-flex align-items-center position-relative">
            <div class="col-lg-8 bg-white position-relative h-75 mb-3 mb-lg-0" style="z-index: 1;"></div>
            <div class="col-lg-4 position-absolute overlap-content" style="z-index: 2; left: 60%; transform: translateX(-50%);">
                <ul class="nav categories-filter">
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="selectedCategory === dealOfTheWeekProducts?.[0]?.category" (click)="filterProducts('Best Seller')">{{dealOfTheWeekProducts?.[0]?.category}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="selectedCategory === 'New Arrivals'" (click)="filterProducts('New Arrivals')">Bracelet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="selectedCategory === 'Hot Sales'" (click)="filterProducts('Hot Sales')">Geode</a>
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="col-lg-4">
            <div class="product-image">
                <img src="https://famishop.fami.life/famishopplus-pic/sites/h/r/112137/conversions/CwJJbKAocR-normal.jpg" alt="Product Image">
                <div class="product-offer">
                    <span>50% OFF</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 categories__deal__countdown">
            <span>Deal Of The Week</span>
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <div class="categories__deal__countdown__timer" id="countdown">
                <div class="cd-item"><span>{{ countdown.days }}</span>
                    <p>Days</p>
                </div>
                <div class="cd-item"><span>{{ countdown.hours }}</span>
                    <p>Hours</p>
                </div>
                <div class="cd-item"><span>{{ countdown.minutes }}</span>
                    <p>Minutes</p>
                </div>
                <div class="cd-item"><span>{{ countdown.seconds }}</span>
                    <p>Seconds</p>
                </div>
            </div>
            <a href="#" class="primary-btn">Buy now</a>
        </div>
    </div>
</div>