.categories-filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    padding: 0;

    .nav-item {
        margin: 10px 0; // Adjusted to provide vertical spacing between items

        .nav-link {
            padding: 10px 15px;
            color: #333;
            border: 1px solid transparent;
            border-radius: 5px;
            transition: all 0.3s ease;

            &.active {
                background-color: #333;
                color: #fff;
                border-color: #333;
            }

            &:hover {
                background-color: #f0f0f0;
            }
        }
    }
}

.product-image {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    .product-offer {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #000;
        color: #fff;
        padding: 5px 10px;
        border-radius: 50%;
        font-weight: bold;
        z-index: 10;
    }
}

.categories__deal__countdown {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
        display: block;
        font-size: 18px;
        color: #333;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 10px;
        color: #222;
    }

    p {
        font-size: 16px;
        color: #555;
        margin-bottom: 10px;
    }

    .categories__deal__countdown__timer {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        .cd-item {
            text-align: center;
            margin: 0 10px;

            span {
                display: block;
                font-size: 32px;
                font-weight: bold;
                color: #333;
            }

            p {
                font-size: 14px;
                color: #777;
            }
        }
    }

    .primary-btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #333;
        color: #fff;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #555;
        }
    }
}

.custom-background {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}

@media (max-width: 991px) {
    .categories-filter {
        background-color: white;
    }

    .col-lg-4 {
        flex-direction: column;
        align-items: center;
    }

    .position-relative {
        position: static !important;
        width: 100%;
        margin-bottom: 20px;
    }

    .overlap-content {
        position: static !important;
        left: 0 !important;
        transform: none !important;
        width: 100%;
    }

    .col-8,
    .col-4 {
        width: 100% !important;
        margin-left: 0;
    }
}