<!-- 
<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-6 d-flex justify-content-end align-items-center">
            <div class="position-relative">
                <img src="  assets/images/maintenance.png" class="img-fluid" alt="Clothing Collections 2030">
                <div class="position-absolute text-content">
                    <h5>Clothing Collections 2030</h5>
                    <a href="#" class="btn btn-outline-dark">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="col-6 d-flex flex-column justify-content-between">
            <div class="mb-4 d-flex justify-content-start align-items-center">
                <div class="position-relative">
                    <img src="  assets/images/maintenance.png" class="img-fluid" alt="Accessories">
                    <div class="position-absolute text-content">
                        <h5>Accessories</h5>
                        <a href="#" class="btn btn-outline-dark">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-start align-items-center">
                <div class="position-relative">
                    <img src="  assets/images/maintenance.png" class="img-fluid" alt="Shoes Spring 2030">
                    <div class="position-absolute text-content">
                        <h5>Shoes Spring 2030</h5>
                        <a href="#" class="btn btn-outline-dark">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="container">
    <div class="row">
        <div class="col-lg-7 offset-lg-4 col-md-6 col-sm-12">
            <div class="banner__item">
                <div class="banner__item__pic">
                    <img [src]="specialContent1?.[0]?.imageUrl" alt="" width="100%" height="350">
                </div>
                <div class="banner__item__text">
                    <h2>{{specialContent1?.[0]?.title}}</h2>
                    <a href="#">Shop now</a>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
            <div class="banner__item banner__item--middle">
                <div class="banner__item__pic">
                    <img [src]="specialContent2?.[0]?.imageUrl" alt="" width="100%" height="350">
                </div>
                <div class="banner__item__text">
                    <h2>{{specialContent2?.[0]?.title}}</h2>
                    <a href="#">Shop now</a>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-6 col-sm-12">
            <div class="banner__item banner__item--last">
                <div class="banner__item__pic">
                    <img [src]="specialContent3?.[0]?.imageUrl" alt="" width="100%" height="350">
                </div>
                <div class="banner__item__text">
                    <h2>{{specialContent3?.[0]?.title}}</h2>
                    <a href="#">Shop now</a>
                </div>
            </div>
        </div>
    </div>
</div>