@import './../../../../styles';
.carousel-control-prev,
.carousel-control-next {
  width: 8%; /* Adjust button size */
  opacity: 0.9;
  transition: opacity 0.3s ease, transform 0.2s ease;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 1;
  transform: scale(1.1); /* Slight zoom effect */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.6); /* Transparent black */
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-control-prev-icon {
  background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 16 16"%3E%3Cpath d="M11.354 1.146a.5.5 0 0 1 0 .708L5.707 8l5.647 6.146a.5.5 0 0 1-.708.708l-6-6.5a.5.5 0 0 1 0-.708l6-6.5a.5.5 0 0 1 .708 0z"/%3E%3C/svg%3E');
}

.carousel-control-next-icon {
  background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 16 16"%3E%3Cpath d="M4.646 1.146a.5.5 0 0 1 .708 0l6 6.5a.5.5 0 0 1 0 .708l-6 6.5a.5.5 0 0 1-.708-.708L10.293 8 4.646 1.854a.5.5 0 0 1 0-.708z"/%3E%3C/svg%3E');
}

#carouselExampleCaptions {
  width: 100%;
  max-width: 100%;

}

.carousel-caption {
  background-color: $primary-color;
  color: $secondary-color;
  left: 50%;
  transform: translate(-50%, -50%); /* Perfect center */
  text-align: center; /* Ensures the text is centered */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}


@media (min-width: 768px) {
  #carouselExampleCaptions .carousel-item img {
    height: 600px;
    object-fit: cover;
  }
}
@media (max-width: 767.98px) {
  #carouselExampleCaptions .carousel-item img {
    height: 250px;
    object-fit: cover;
    object-position: center;
  }

  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); // semi-transparent black
    color: #fff;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    bottom: 10%;
    top: auto;
    transform: translateX(-50%);
    width: 80%;
    border-radius: 0.5rem;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 25px;
    height: 25px;
    background-size: 50%;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 12%; // Smaller space on mobile
  }
}
