.carousel-control-prev,
.carousel-control-next {
  color: #000; /* Black color for the buttons */
  width: 15%; /* Adjust width if needed */
  opacity: 0.8; /* Slight transparency */
  transition: opacity 0.3s ease-in-out;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  color: #fff; /* White color on hover */
  opacity: 1; /* Full visibility on hover */
}

/* Black background for the icon */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out;
  padding: 5%;
}

/* Hover effect - change background to gray */
.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
  background-color: gray; /* Gray background on hover */
}

/* Add arrow effect */
.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
  // content: '\2039'; /* Left arrow ‹ */
  font-size: 24px;
  font-weight: bold;
  color: white; /* White icon */
}

.carousel-control-next-icon::before {
  // content: '\203A'; /* Right arrow › */
}


#carouselExampleCaptions {
  width: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  #carouselExampleCaptions .carousel-item img {
    height: 600px;
    /* Upload Recommendations
      When users upload banner images for your application, it's best to provide guidelines for the images to follow these dimensions:
      
      Minimum Image Size: 1600px width, 900px height (for high-resolution displays)
      Aspect Ratio: 16:9 */
    object-fit: cover;
  }
}