@import './../../../../styles';

.container_ {
  width: 100%;
  padding: 2% 10%;
  background-color: #f3f3f3;
}

.sorting-bar {
  background-color: $primary-color;
  color: $secondary-color;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .search-bar {
    display: flex;
    align-items: center;
    color: $secondary-color;
    font-size: 1rem;
  }

  .filter-options {
    h6 {
      color: $secondary-color;
      font-weight: bold;
    }

    .form-check {
      margin-bottom: 8px;

      .form-check-label {
        cursor: pointer;
      }

      .form-check-input {
        accent-color: $primary-color; // Orange checkboxes for better visibility
        cursor: pointer;
      }
    }
  }
}

.paginationbar {
  background-color: $primary-color; // Matching orange theme
  color: $secondary-color;
  font-weight: bold;
  border-radius: 5px;
}

.form-check-input {
  width: 18px;
  height: 18px;
  border: 2px solid $secondary-color; // Change border color
  cursor: pointer;

  &:checked {
    background-color: $secondary-color; // Change tick background color
    border-color: $secondary-color;
  }

  &:checked::before {
    content: "\2713"; // Unicode for checkmark ✔
    font-size: 14px;
    color: white; // Change tick mark color
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: bold;
  }

  &:hover {
    border-color: $secondary-color; // Darker blue on hover
  }
}

/* Custom Label */
.form-check-label {
  margin-left: 8px;
  font-size: 16px;
  color: $secondary-color;
  cursor: pointer;
}


.view-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.btn-special {
  background-color: $primary-color;
  color: $secondary-color;
}
